/custom.el
/eln-cache/
/.python-environments/
/elpa/
/elpy/
/eln-cache/
/straight/
/etc/
/mssql/
/straight/
/var/
/etc/
/deps/
/FsAutoComplete/
__pycache__
/completions
*.elc
/auto-save-list/
/recentf
.hypb
/tree-sitter/
local.el
